.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerIng,
.containerIntro {
    background-color: azure;
    border: 3px solid black;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 16px;
}

.containerIntro {
    margin-bottom: 24px;
}

.mealBtn {
    text-align: center;
    cursor: pointer;
    background-color: azure;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 16px;
    padding:8px;
    margin-top: 24px;
    margin-left: 25%;
    margin-right: 25%;
}

.mealBtn:hover {
    background-color: rgb(7, 90, 47);
    font-weight: bold;
    color: azure;
}

@media screen and (min-width: 768px) {
    .mealBtn {
        cursor: pointer;
        background-color: azure;
        border: 3px solid black;
        border-radius: 20px;
        font-size: 16px;
        padding:8px;
        margin-top: 24px;
        margin-left: 40%;
        margin-right: 40%;
    }
}